figure {
  text-align: center;
}

figure img {
  max-height: 500px;
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

figure figcaption {

}

pre {
  background: #00000050;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1em;
  overflow-x: auto;
}

.mat-card p, .mat-card h2 {
  font-size: 110% !important;
}
